/* upper margin (so that the nav bar does not overlap the content */
body{
    margin-top: 50px;
}
/* The Home Section is to take the entire screen */
#homeRow{
    min-height: 90vh;
}
/* The size of the brain img */
#brain{
    max-height: 70vh;
}
/* The size of the video */
#aboutMeVideo{
    min-height: 90vh;
}
/* Projects section is to take the entire screen */
#projectsRow{
    height: 100vh;
}
/* Setting out the text size, Contact section */
#contact h1{
    font-size: 18vw;
}