/* setting up background image*/
section{
    background-image: url(../img/keith-misner-h0Vxgz5tyXA-unsplash.jpg);
    height: 100vh;
}

/* styling single card */
.card{
    background-color: rgb(247, 247, 108);
    min-height: 130px;
    min-width: 150px;
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid rgb(48, 39, 39);
    box-shadow: 10px 5px 5px rgb(44, 44, 44);
}
.pushPin{
    height: 60px;
    width: 60px;
    margin-top: -25px;
}

.card .card-header{
    position: absolute;
    top: 0;
    bottom: 0;
    height: 20px;
    width: 100%;
    justify-content: center;
    border: none;
}
.card .card-body{
    align-content: center;
    margin-top: 20px;
    margin-bottom: 0;
    padding: 0;
}
.card .card-body textarea{
    background-color: rgb(247, 247, 108);
    box-sizing: border-box;
    padding: 7px;
    height: 110px;
    width: 130px;
    margin-bottom: 0;
    border: none;
}
.card .footer{
    text-align: center;
}
.card .footer .saveNote{
    padding-right: 15px;
    padding-left: 15px;
}
.card .footer .deleteNote{
    padding-right: 15px;
    padding-left: 15px;
}

/* remowing the border when each note is created */
.card .card-body textarea:focus, input:focus{
    outline: none;
}
/* bringing the card of intrest to the top */
.card:hover{
    z-index: 1;
}


/* add new note element */
#addNewNote{
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    background-color:rgba(226, 226, 219, 0.7);
}
#addNewNote:active{
    border: solid rgb(44, 44, 44) 2px;
    box-shadow: 10px 5px 5px rgb(44, 44, 44);
}
